* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
}

.game-field {
    background-color: #3D5656;
    background-color: rgba(255, 255, 255, 0.901);
    width: 600px;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

h2 {
    margin-bottom: 15px;
    color: #3D5656;
}

.choices {
    padding: 10px;
}

button {
    font-size: 20px;
    padding: 1rem;
    margin: 10px auto;
    display: block;
    width: 150px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    background-color: #3D5656;
    background-color: green;
    color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    transition: 500ms;
}

button:hover {
    background-color: #222;
    font-weight: bold;
}

.computer-choice , .user-choice , .result , .score{
    color: #68B984;
    color: green;
}

@media screen and (max-width: 700px) {
    .game-field {
        width: 500px;
    }
    h2 {
        font-size: 20px;
    }
    button {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .game-field {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .game-field {
        width: 300px;
    }
    h2 {
        font-size: 16px;
    }
    button {
        font-size: 14px;
    }
}